# dependencies
node_modules/
.pnpm-store/

# build
dist/
.next/
.turbo/
out/

# env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# supabase
supabase/.temp/
supabase/.branches/

# misc
*.tsbuildinfo
.vercel
